<div id="main-app">
  <!-- <div class="tutorial-section">
    <create></create>
    <read></read>
  </div>

  <div>
    <add-car></add-car>
    <read-car></read-car>
  </div> -->

  <div>
    <ngx-doc-viewer
      [viewerUrl]="'http://localhost:5000/wall1.jpg'"
      [url]="'http://localhost:5000/wall1.jpg'"
      viewer="url"
      style="width:300px;height:300px;"
      >
    </ngx-doc-viewer>
  </div>
</div>