/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}